<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="/css/styleReg.css"> 
    <%- include('../partials/head.ejs') %>
    <title>Register</title>
  </head>

  <body class="body-f">

  <header>
      <%- include('../partials/header.ejs') %>
  </header>

    <main>
      <br>
      <h1 class="h1-reg">Bienvenido/a!!  <span class="span-usuario"><%=userLogged.nombre%></span></h1>
      
      <h2 class="h2-reg">Tu usuario es: <%=userLogged.user%></h2>
      <h2>Tu fecha de Nacimiento es: <%=userLogin.nacimiento%></h2>
      <br>
      <img class="avatar-welcome" src="/img/<%=userLogged.avatar%>" alt="avatar">


      <h2 class="links-welcome"><a href="/users/editarUsuario/<%=userLogged.id%>">Editar mi Usuario</a></h2>
      <h2 class="links-welcome"><a href="/users/eliminarUsuario/<%=userLogged.id%>">Eliminar mi Usuario de esta Base de Datos</a></h2>
      
    </main>

  <footer>
    <%-include('../partials/footer.ejs')%>
  </footer>

  </body>
</html>
