<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="/css/style.css">
    <%- include('../partials/head.ejs') %>
    <title>Login</title>
  </head>

    <body class="registro">
      <%-include('../partials/header.ejs')%>
    <main>
      <h2 class="titulo">Entrar a mi sesion:</h2>
          <form action="/users/logueando" method="POST" class="form_reg">
            <label>E-mail:</label>
            <br>
            <input
              class="inputs"
              type="email"
              name="email"
              id="email"
              placeholder=<%= oldData.email!="sin_email" ? oldData.email : 'ejemplo@gmail.com' %>
            />
            <br/>
            <br/>
            <label>Contraseña:</label>
            <br>
            <input
              class="inputs"
              type="password"
              name="pass"
              placeholder=""
              required
            ><%= oldData.email!="sin_email" ? 'OPS...!! Contraseña Incorrecta...' : '' %></input>

          <label class="check-log"> Recordar mi usuario
            <input type="checkbox" 
            name="recordarMiUsuario"
            value="si"
            id="si">
            <span class="checkmark"></span>
          </label>

          <!--<div class="checkbox">
          <input
            type="checkbox"
            name="RecordarMiUsuario"
            value="si"
            id="si"
            required
          />
          <label for="si">Recordar mi usuario</label>
          </div>-->
          <br />
          <button for="submit" class="boton btn-regis">Inciar Sesión</button>

          <!--<div class="contenedor-boton">
            <a href="#" type="submit" class="boton">Inciar Sesión</a>
          </div>-->
          <br>
          <p><a class="links" href="#">¿Olvidaste tu contraseña?</a></p>
          <br>
          <p><a class="links" href="/users/register">¿Sos nuevo? Crea tu cuenta acá</a></p>

        </form>
      </div>

      <br>


    </main>
    <footer>
      <%-include('../partials/footer.ejs')%>
    </footer>
  </body>

</html>
