<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="/css/style.css"> 
    <%- include('../partials/head.ejs') %>
    <title>Register</title>
  </head>

  <body class="registro">

  <header>
      <%- include('../partials/header.ejs') %>
  </header>

    <main>
      <!--<div class="img_reg">
        <img src="../img/registrar.png" alt="registrar"/>
      </div>-->
      <br>
      <br>
      <h5 class="titulo" >Registrate:</h5>
      <form action="/users/register" method="POST" enctype="multipart/form-data" id='form_reg' class="form_reg">
        <label>Nombre y Apellido:</label>
        <input type="text"
        id="nombre"
        name="nombre" 
        placeholder="Ingresá tu Nombre y Apellido"
        value='<%=locals.errors && oldData.nombre ? oldData.nombre : ''%>'
         />
         <% if (locals.errors && errors.nombre) {%>
          <div class = "danger">
            <%=errors.nombre.msg%>
            <%}%>
          </div>
        <br />
        <br />
        <label>Nombre de usuario:</label>
        <input
          type="text"
          name="user"
          placeholder="Ingresá tu Usuario"
          value='<%=locals.errors && oldData.user ? oldData.user : ''%>' 
        />
        <% if (locals.errors && errors.user) {%>
        <div class = "danger">
          <%=errors.user.msg%>
          <%}%>
        </div>
        <br />
        <br />
        <label for="nacimiento">Fecha de nacimiento:</label>
        <input type="date" name="nacimiento" id="fechaNacimiento"  
        
        value='<%=locals.errors && oldData.nacimiento ? oldData.nacimiento : ''%>'
        />
        <% if (locals.errors && errors.nacimiento) {%>
          <div class = "danger">
            <%=errors.nacimiento.msg%>
            <%}%>
          </div>
        <br />
        <br />
        <label>Email:</label>
        <input type="email" name="email" placeholder=''  
        placeholder="Ingresá tu email"
        value='<%=locals.errors && oldData.email ? oldData.email : ''%>'

        />
        
        <% if (locals.errors && errors.email) {%>
          <div class = "danger">
            <%=errors.email.msg%>
            <%}%>
          </div>
        <br />
        <label>Administrador:</label>
        <select name="admin" required >
          <option value=0>No</option>
          <option value=1>Si</option>
        </select>
        
        <br />
        <br />
        <label for="avatar">Foto de perfil:</label>
        <input
          type="file"
          name="avatar"
          id="avatar"
          accept="image/png, image/jpeg"
        />
        <br />
        <br />
        <label>Contraseña:</label>
        <br />
        <input
          type="password"
          name="pass"
          placeholder="Elegí tu contraseña"
          required
        />
        <% if (locals.errors && errors.password) {%>
          <div class = "danger">
            <%=errors.password.msg%>
            <%}%>
          </div>
        <input
          type="password"
          name="pass_confirm"
          placeholder="Confirmá tu contraseña"
          required>
      </input>
        <br />
        <input
          type="checkbox"
          name="TerminosYCondiciones"
          value="si"
          id="si"
          required
        />
        <label for="si">Aceptar terminos y condiciones</label>
        <br />
        <br />
          <div class="botones-registro">
            <input type="reset" value="Borrar" class="botones btn-regis"/>
            <input type="submit" value="Enviar" class="botones btn-regis"/>
          </div>
      </form>

    </main>
    <%-include('../partials/footer.ejs')%>
    <script type="text/javascript" src="/js/validacion.js"></script>
  </body>
  
</html>
