<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="/css/style.css"> 
    <%- include('../partials/head.ejs') %>
    <title>Register</title>
  </head>

  <body class="registro">

  <header>
      <%- include('../partials/header.ejs') %>
  </header>

    <main>
      <!--<div class="img_reg">
        <img src="../img/registrar.png" alt="registrar"/>
      </div>-->
      <br>
      <br>
      <h5 class="titulo" >Registrate:</h5>
      <form action="/users/register" method="POST" enctype="multipart/form-data" class="form_reg">
        <label>Nombre y Apellido:</label>
        <input type="text" s
        name="nombre" 
        placeholder='<%=newUsuario.nombre%>'
        required />
        <br />
        <br />
        <label>Nombre de usuario:</label>
        <input
          type="text"
          name="user"
          placeholder= '<%=newUsuario.user%>'
          required
        />
        <br />
        <br />
        <label for="nacimiento">Fecha de nacimiento:</label>
        <input type="date" name="nacimiento" id="fechaNacimiento" required />
        <br />
        <br />
        <label>Email:</label>
        <input type="email" name="email" placeholder='<%=newUsuario.email%>' required />
        <%= error.email=='repetido'? 'Este email ya se encuentra en nuestra base de datos':''%>
        <br />
        <br />
        <label for="avatar">Foto de perfil:</label>
        <input
          type="file"
          name="avatar"
          id="avatar"
          accept="image/png, image/jpeg"
        />
        <br />
        <br />
        <label>Contraseña:</label>
        <br />
        <input
          type="password"
          name="pass"
          placeholder="Elegí tu contraseña"
          required
        />
        <input
          type="password"
          name="pass_confirm"
          placeholder="Confirmá tu contraseña"
          required><%=error.email=='contrasenias'?'Las contraseñas ingresadas no coinciden':''%>
      </input>
        <br />
        <input
          type="checkbox"
          name="TerminosYCondiciones"
          value="si"
          id="si"
          required
        />
        <label for="si">Aceptar terminos y condiciones</label>
        <br />
        <br />
          <div class="botones-registro">
            <input type="reset" value="Borrar" class="botones btn-regis"/>
            <input type="submit" value="Enviar" class="botones btn-regis"/>
          </div>
      </form>

    </main>
    <%-include('../partials/footer.ejs')%>
  </body>
  
</html>
