<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css" />
        <%- include('../partials/head.ejs') %>
    <title>Eventos</title>
</head>

<body class="registro">

    <%-include('../partials/header.ejs')%>

    <div class="espacio-header"></div>

    <main>
            <br>
            <br>
            <h1 class="titulo">Subir evento nuevo</h2>

            <form class="form_crear" id="form_crear" action="/products/creandoEvento" method="POST" enctype="multipart/form-data"
            class="form_reg">
                <label>Ciudad:</label>
                <br>
                    <input 
                    id="ciudad"
                    class="inputs" 
                    type="text" 
                    name="city" 
                    placeholder="city" 
                    value = '<%= locals.errors && oldData.city ? oldData.city : ''%>'
                    />
                        <br>
                        <p class="ciudad_v vali_hidden">El campo ciudad no puede estar vacío</p>
                    <div class="danger">
                    <% if (locals.errors && errors.city) {%>
                        <%=errors.city.msg%>
                    <%}%>
                    </div>
                <br>
                    <label>País:</label>
                <br>
                    <input 
                    id="pais"
                    class="inputs" 
                    type="text" 
                    name="country" 
                    placeholder="country" 
                    value = '<%= locals.errors && oldData.country ? oldData.country : ''%>'
                    />  
                        <br>
                        <p class="pais_v vali_hidden">El campo país no puede estar vacío</p>
                    <div class="danger">
                        <% if (locals.errors && errors.country) {%>
                            <%=errors.country.msg%>
                        <%}%>
                        </div>
                <br>
                <br>
                <label for="fechaEvento">Fecha del Evento:</label>
                <br>
                    <input 
                    class="inputs" 
                    type="date" 
                    name="date" 
                    id="date" 
                    value = '<%= locals.errors && oldData.date ? oldData.date : ''%>'
                    />
                    <div class="danger">
                        <% if (locals.errors && errors.date) {%>
                            <%=errors.date.msg%>
                        <%}%>
                        </div>
                <br>
                <br>
                <label for="bannerEvento">Banner del Evento:</label>
                <br>
                    <input class="inputs"
                        type="file"
                        name="image"
                        id="image"
                        accept="image/png, image/jpeg"
                        value = '<%= locals.errors && oldData.image ? oldData.image : ''%>'
                    />
                    <div class="danger">
                        <% if (locals.errors && errors.image) {%>
                            <%=errors.image.msg%>
                        <%}%>
                        </div>
                <br>
                <br>
                <label>Precio:</label>
                <br>
                    <input 
                    class="inputs" 
                    type="text" 
                    name="price" 
                    placeholder="precio" 
                    value = '<%= locals.errors && oldData.price ? oldData.price : ''%>'
                    />
                    <div class="danger">
                        <% if (locals.errors && errors.price) {%>
                            <%=errors.price.msg%>
                        <%}%>
                    </div>
                <br>
                <br>
                    <label>Moneda:</label>
                <br>
                    <input 
                    class="inputs" 
                    type="text" 
                    name="currency" 
                    placeholder="moneda" 
                    value = '<%= locals.errors && oldData.currency ? oldData.currency : ''%>'
                    />
                    <div class="danger">
                        <% if (locals.errors && errors.currency) {%>
                            <%=errors.currency.msg%>
                        <%}%>
                        </div>
                <br>
                <br>
                    <label>Descripción:</label>
                <br>
                    <input 
                    class="inputs" 
                    type="textarea" 
                    name="description" 
                    placeholder="" 
                    value = '<%= locals.errors && oldData.description ? oldData.description : ''%>'
                    />
                    <div class="danger">
                        <% if (locals.errors && errors.description) {%>
                            <%=errors.description.msg%>
                        <%}%>
                        </div>
                <br>
                <br>
                <div class="botones-registro">
                    <input type="reset" class="botones btn-regis" value="Borrar" />
                    <input type="submit" class="botones btn-regis" value="Enviar" />
                </div>
                <br>   
        </form>
    </main>
    <script type="text/javascript" src="/js/validaciones_evento.js"></script>

    <%-include('../partials/footer.ejs')%>

</body>
</html>