<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/style.css" />
  <%- include('../partials/head.ejs') %>
  <title>Detalles Eventos</title>
</head>

<body>
  <%-include('../partials/header.ejs')%>
    <main class="main-concierto">
      <div class="titulo-d">
        <h1 class="concierto-d"><%= evento.city +', '+ evento.country%></h1>
      </div>
    <section class="contenedor-concierto">
      <div class="imagen_contenedor">
          <img src="/img/<%=evento.image%>" class="imagen_concierto" alt="">
      </div>
      <div class="texto_concierto">
          <h2><%=evento.date%></h2>
            <br>
          <p>   <%=evento.description%> </p>
            <br>
          <h2><%=evento.currency%> <%=evento.price%></h2>
            <br>
        <div class="contenedor-ciudad">
        <% if (evento.agotado == 0){%> 
          <% if (locals.isLogged){%>
            <form id='carrito'>   
              <label>Cantidad de Tickets </label>

              <input id='nro_tickets' name="nro_tickets" type='number'>
              <input type="submit" class="boton editar" value="Agregar a Carrito">
              
              <input type="hidden" id='id_evento' name="id_evento" value="<%=evento.id%>"/>
              <input type="hidden" id='fecha_evento' name="fecha_evento" value="<%=evento.date%>"/>
              <input type="hidden" id='ciudad_evento' name="ciudad_evento" value="<%=evento.city%>"/>
            </form>
            <%}else{%>
              <a type="button" href="/users/login" class="boton">Para Comprar debe estar logueado</a>  
            <%}%>
           
        <%}else{%>
          <a type="button" href="/products/eventos" class="boton bot-agoado">AGOTADO</a>
        <%}%>
      
        </div>
      </div>
  </section>
<% if (locals.isLogged && userLogged.admin == 1){ %> 

    <form action="/products/editarEvento/<%=evento.id%>" method="GET">   
      <input type="submit" class="boton editar" value="Editar Evento">
    </form>

    <form action="/products/eliminarEvento/<%=evento.id%>?_method=DELETE" method="POST">   
      <input type="submit" class="boton editar" value="Eliminar Evento">
    </form>
<%}%>
    </main>

  

  <footer>
    <div class="inferior">
    <ul class="redes">
        <li>
        <a href="https://www.facebook.com" target="_blank"><img class="iconos" src="/img/facebook.png" alt=""></a>
        </li>
        <li>
        <a href="https://www.twitter.com" target="_blank"><img class="iconos" src="/img/twitter.png" alt=""></a>
        </li>
        <li>
        <a href="https://www.instagram.com"><img class="iconos" src="/img/instagram.png" alt="Instagram"></a>
        </li>
        <li>
        <a href="https://www.youtube.com"><img class="iconos" src="/img/youtube.png" alt="YouTube"></a>
        </li>
        <li>
        <a href="https://www.spotify.com"><img class="iconos" src="/img/spotify.png" alt="spotify"></a>
        </li>
    </ul>
    <div class="derechos">
        <p>Copyright © 2022 TicketsToGo S.R.L</p>
        <p>Diseño: Diego Franco, Lautaro González, Luis Garza, Nicolas Del Giovannino.</p>
    </div>
    </div>
    <script type="text/javascript" src="/js/cargaCarrito.js"></script>
  </footer>

</body>
</html>