<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css" />
        <%- include('../partials/head.ejs') %>
    <title>Eventos</title>
</head>

<body class="registro">

    <%-include('../partials/header.ejs')%>

    <div class="espacio-header"></div>

    <main>
            <br>
            <br>
            <h1 class="titulo">Editar Evento</h2>

                <form
                class="divEditar"
                action="/products/editarEvento/<%=eventoToEdit.id ?? ''%>?_method=PUT"
                method="POST"
                enctype="multipart/form-data"
                >
    
                <div class="label-container">    
                    <label>Ciudad:</label>
                        <input
                        class="inputs" 
                        type="text" 
                        name="city" 
                        value="<%=eventoToEdit.city ?? ''%>" 
                        />
                </div>
                <div class="label-container">    
                    <label>Pais:</label>
                        <input
                        class="inputs" 
                        type="text" 
                        name="country" 
                        value="<%=eventoToEdit.country ?? ''%>" 
                        />
                </div>
    
                <div class="label-container">
                    <label for="fechaEvento">Fecha del Evento:</label>
                        <input
                        class="inputs"
                        type="date"
                        name="date"
                        id="date"
                        value="<%=eventoToEdit.date ?? ''%>"
                        />
                </div>
    
                <div class="label-container">
                    <label for="bannerEvento">Banner del Evento:</label>
                        <input
                        class="inputs"
                        type="file"
                        name="image"
                        id="image"
                        accept="image/png, image/jpeg"
                        required
                        />
                </div>
    
                <div class="label-container">
                    <label>Precio:</label>
                        <input
                        class="inputs" 
                        type="text" 
                        name="price" 
                        value="<%=eventoToEdit.price ?? ''%>" 
                        />
                </div>
    
                <div class="label-container">
                    <label>Moneda:</label>
                        <input
                        class="inputs"
                        type="text"
                        name="currency"
                        value="<%=eventoToEdit.currency ?? ''%>"
                        />
                </div>
    
                <div class="label-container">
                    <label>Descripción:</label>
                        <input
                        class="inputs"
                        type="text"
                        name="description"
                        value="<%=eventoToEdit.description ?? ''%>"
                        />
                </div>
    
                <div class="label-container">
                    <label>Agotado:</label>
                                                          
                        <select name="agotado">
                        <option value=0>No</option>
                        <option value=1>Si</option>
                        
                        </select>
                </div>
                <br>
                    <input
                        type="submit" class="boton btn-regis" value="Editar" />
                <br>
    
                </form>

    </main>


    <%-include('../partials/footer.ejs')%>

</body>
</html>