<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styleEve.css" />
        <%- include('../partials/head.ejs') %>
    <title>Editar Eventos</title>
</head>
<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>

    <main>
        <h1>Editando Evento: <%=eventoToEdit.place ?? ''%></h1>

        <form action="/products/editarEvento/<%=eventoToEdit.id ?? ''%>?_method=PUT" method="POST" enctype="multipart/form-data"> 
            
                <label>Lugar del Evento:</label>
                    <input 
                        type="text" 
                        name="place" 
                        value="<%=eventoToEdit.place ?? ''%>"
                    >
                <br/>

                <label for="fechaEvento">Fecha del Evento:</label>
                    <input 
                        type="date" 
                        name="date" 
                        id="date" 
                        value="<%=eventoToEdit.date ?? ''%>"
                    >
                <br />
                <label for="bannerEvento">Banner del Evento:</label>
                    <input
                        type="file"
                        name="image"
                        id="image"
                        accept="image/png, image/jpeg"
                    >
                <br />
                <br />
                <label>Precio:</label>
                    <input 
                        type="text" 
                        name="prize" 
                        value="<%=eventoToEdit.prize ?? ''%>"
                    >
                <br />
                
                <label>Moneda:</label>
                    <input 
                        type="text" 
                        name="currency" 
                        value="<%=eventoToEdit.currency ?? ''%>"
                    >
                <br />
                <br />
                <label>Description</label>
                    <input 
                        type="text" 
                        name="description" 
                        value="<%=eventoToEdit.description ?? ''%>"
                    >
                <br />
                <br />
                <label>Agotado</label>
                    <input 
                        type="text" 
                        name="agotado" 
                        value="<%=eventoToEdit.agotado ?? ''%>"
                    >
                <br />
                <br />
            <div class="botones">
                
                <input type="submit" class="boton botones" value="Editar">
            </div>
        </form>

        
        
    </main>

    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
</body>
</html>