<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>


<body>

  <%-include('../partials/header.ejs')%>
<main>
  <%for (let i = 0; i < eventos.length ;i++){ %>
  <section class="contenedor-eventos">
    <% if (eventos[i].agotado == "Yes"){%> 
        <div><img class="image gris" src="/img/<%=eventos[i].image%>" alt="foto_concierto"></div>
    <%}else{%>
        <div ><img class="image" src="/img/<%=eventos[i].image%>" alt="foto_concierto"></div>
    <%}%>
  

      <div class="evento">
          <h2 class="date"><%=eventos[i].date%></h2>
          <p class="description"><%=eventos[i].description%></p>
          <div class="contenedor-botones evento-boton">
              <a href="/products/eventos/detalles/<%=eventos[i].place%>" class="boton boton-eventos">Leer más</a>
          </div>   
          <% if (locals.isLogged){ %> 
          <div class="contenedor-editar">
            <button type="button" class="boton-editar"><img class="mas" src="../img/editar.png" alt="editar"></button>
            <button type="button" class="boton-editar"><img class="mas" src="../img/mas.png" alt="agregar"></button>
            <button type="button" class="boton-editar"><img class="menos" src="../img/menos.png" alt="eliminar"></button>
          </div>
          <%}%>

      </div>

      <% if (eventos[i].agotado == "Yes"){%> 
        <h3 class="place"><%= eventos[i].place %><span class="agotado">AGOTADO</span></h3>

      <%} else if (eventos[i].agotado == "No"){%>
        <h3 class="place h3-imagen"><%= eventos[i].place %></h3>
        <%}%>

  </section>
  <%}%>

  </main>
  <%-include('../partials/footer.ejs')%>
  </body>
  </html