<!DOCTYPE html>
<html lang="en">
<!--
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/styleEve.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Joan&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventos</title>
  </head>
-->

<head>
  <link rel="stylesheet" href="/css/styleEve.css" />
  <%- include('../partials/head.ejs') %>
  <title>Eventos</title>
</head>

  <body>
    <header>
      <%-include('../partials/header.ejs')%>
    </header>
  <main>
    <section class="contenedor">
    <%for (let i=0;i < eventos.length ;i++){ %>
      <div class="tarjeta_eve">
      <h2 class="titleEvents"><%= eventos[i].place %></h2>
      
      <h3><%=eventos[i].date%></h3>
      
      <img class="imagen_eve" src="/img/<%=eventos[i].image%>" alt="foto_concierto">
      <p class="info"> <%=eventos[i].description%>
      </p>
    </div>
    <%}%>
  </section>
 
  </main>


    <footer>
      <%-include('../partials/footer.ejs')%>
    </footer>
  </body>
</html>
